<div>

    <table>
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Subject</th>
        </tr>
        <tr ng-repeat="msg in messages">
            <td>[[msg.headers.From]]</td>
            <td>[[msg.headers.To]]</td>
            <td>[[msg.headers.Subject]]</td>
        </tr>
    </table>
    <div>
        <div class="message" ng-repeat="msg in messages">
            <div>
                <button>Archive</button>
                <form ng-submit="">
                    <input type="text" ng-model="dir" placeholder="Directory" />
                    <input type="submit" value="Move" />
                </form>
            </div>
            <pre ng-repeat="part in msg.texts">[[part]]</pre>
        </div>
    </div>

</div>
